.ChartWrapper {
    display: block;
    width: 100%;
    max-width: 900px;
    margin: auto;
    min-height: 450px;
    height: auto;
    margin-top: 50px;
  }

.ChartButtonsContainer{
  display: block;
  margin: 0 auto 100px auto;
  height: 100px;
  width: 100%;
  max-width: 900px;
}

.ChartButtonsContainer button{
  background-color: #1453EC; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}