.MapsWrapper {
  display: flex;
  width: 600px;
  flex-flow: wrap;
  margin: auto;
  margin-top: 50px;
  justify-content: center;
}

.Rozenburgstyle,
.Hoogvlietstyle,
.Pernisstyle,
.HoekvanHollandstyle {
  background-color: lavender;
}

table th {
  text-align: center;
}
