html,
body {
  font-size: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #dddddd;
  color: #000d1a;
  height: 100%;
  widows: 100%;
}

.containerStyling {
  display: block;
  background-color: rgb(255, 79, 37, 0.2);
  padding: 15px;
  overflow: hidden;
  margin-bottom: 30px;
}

h1 {
  font-size: 3.5em;
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.pageImage {
  width: 100%;
  height: auto;
  max-height: 300px;
  border: 1px solid black;
}
