<div class="Map">
  <div class="container">
    <div class="MapInner">
      <p>
        The areas above are put in a table with their respected values (number
        of children, Amount of intermediaries, ratio).
      </p>
      <table class="table">
        <thead>
          <tr>
            <th>Area</th>
            <th>Number of children</th>
            <th>Intermediaries</th>
            <th>Ratio</th>
          </tr>
        </thead>
        {% for d in controller.GetMapItems() %}
        <tr>
          <td>{{ d.deelgemeente.areaName}}</td>
          <td>{{d.deelgemeente.applicants}}</td>
          <td>{{d.deelgemeente.intermediary}}</td>
          <td>
            {{ controller.CalculatorAverage(d.deelgemeente.applicants,
            d.deelgemeente.intermediary)}}
          </td>
        </tr>
        {{ controller.AddStatsOfTotal(d.deelgemeente.applicants,d.deelgemeente.intermediary) }}
        {% endfor %}

        <tr>
          <td></td>
          <td></td>
          <td>Total</td>
          <td>
            {{controller.CalculatorAverage(controller.totalPeople["applicants"],
              controller.totalPeople["intermediaries"])}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
