{% if controller.entered == True %}
     <script>
      FormSuccess()
     </script>
{% endif %}
<div class="container">
  <div class="HomeInnerTwo">
    <h1>Sign up for Jeugdfonds</h1>

    {% if controller.Message != "" %}
      <p>{{ controller.Message }}</p>
    {% endif %}
    
    <form action="" method="POST">
      First name:<br />
      <input type="text" name="firstname" value="{{controller.Applicant.FirstName}}" autofocus="on"/>
      <br /><br />
      Family Name Affix:<br />
      <input type="text" name="affix" value="{{controller.Applicant.Affix}}" />
      <br /><br />
      Last name:<br />
      <input type="text" name="lastname" value="{{controller.Applicant.LastName}}" />
      <br /><br />
      Gender:<br />
      <select name="gender">
        <option value="%%">Make a choice</option>
        <option value="Vrouw" {% if 'Vrouw' == controller.Applicant.Gender %} selected {% endif %}>Female</option>
        <option value="Man" {% if 'Man' == controller.Applicant.Gender %} selected {% endif %}>Man</option>
      </select>
      <br /><br />
      ZIP code (numbers only):<br />
      <input type="text" name="zipcode" value="{{controller.Applicant.ZipCode}}" />
      <br /><br />
      Date of Birth:<br />
      <input
        type="text"
        class="form-control"
        name="dateofbirth"
        value="{{controller.Applicant.DateOfBirth}}"
      />
      <br />
      <input type="submit" value="Submit" class="btn" />
    </form>
  </div>
</div>
