<div class="container">
  <div class="HomeInnerTwo">
    <h1>Sign up for Jeugdfonds</h1>
    <form action="">
      First name:<br />
      <input type="text" name="firstname" value="" />
      <br /><br />
      Family Name Affix:<br />
      <input type="text" name="familynameaffix" value="" />
      <br /><br />
      Last name:<br />
      <input type="text" name="lastname" value="" />
      <br /><br />
      Gender:<br />
      <input type="text" name="gender" value="" />
      <br /><br />
      ZIP code (numbers only):<br />
      <input type="text" name="zipcode" value="" />
      <br /><br />
      Date of Birth:<br />
      <input type="text" name="dateofbirth" value="" />
      <br /><br />
      <input type="submit" value="Submit" class="btn btn-success" />
    </form>
  </div>
</div>
