<div class="container">
  <div class="HomeInnerTwo" style="margin-top:100px;">
    <form action="">
      First name:<br />
      <input type="text" name="firstname" value="" />
      <br /><br />
      Family Name Affix:<br />
      <input type="text" name="familynameaffix" value="" />
      <br /><br />
      Last name:<br />
      <input type="text" name="lastname" value="" />
      <br /><br />
      Date of Birth:<br />
      <input type="text" name="dateofbirth" value="" />
      <br /><br />
      <input type="submit" value="Submit" class="btn btn-success" />
    </form>
  </div>
</div>
