<div class="Map">
  <div class="container">
    <div class="MapInner">
      <h1>Map of Rotterdam</h1>
      <div class="ImagesFirstRow">
        <img
          src="{{url_for('static', filename='img/Overschie - GREEN.png')}}"
          alt="asd"
          width="100px"
          height="100px"
        />
        <img
          src="{{url_for('static', filename='img/HillegersbergSchiebroek - GREEN.png')}}"
          alt="asd"
          width="100px"
          height="100px"
        />
        <img
          src="{{url_for('static', filename='img/Alexander - GREEN.png')}}"
          alt="asd"
          width="100px"
          height="100px"
        />
      </div>
      <div class="ImagesSecondRow">
        <img
          src="{{url_for('static', filename='img/Noord - GREEN.png')}}"
          alt="asd"
          width="100px"
          height="100px"
        />
        <img
          src="{{url_for('static', filename='img/Kralingen - Crooswijk - GREEN.png')}}"
          alt="asd"
          width="100px"
          height="100px"
        />
      </div>
      <div class="ImagesThirdRow">
        <img
          src="{{url_for('static', filename='img/Delfshaven - GREEN.png')}}"
          alt="asd"
          width="100px"
          height="100px"
        />
        <img
          src="{{url_for('static', filename='img/Centrum - GREEN.png')}}"
          alt="asd"
          width="100px"
          height="100px"
        />
      </div>
      <div class="ImagesFourthRow">
        <img
          src="{{url_for('static', filename='img/Charlois - GREEN.png')}}"
          alt="asd"
          width="100px"
          height="100px"
        />
        <img
          src="{{url_for('static', filename='img/Feijenoord - GREEN.png')}}"
          alt="asd"
          width="100px"
          height="100px"
        />
        <img
          src="{{url_for('static', filename='img/Ijsselmonde - GREEN.png')}}"
          alt="asd"
          width="100px"
          height="100px"
        />
      </div>
      <div class="ImagesFifthRow">
        <img
          src="{{url_for('static', filename='img/Rozenburg - GREEN.png')}}"
          alt="asd"
          width="100px"
          height="100px"
        />
        <img
          src="{{url_for('static', filename='img/Hoogvliet - GREEN.png')}}"
          alt="asd"
          width="100px"
          height="100px"
        />
        <img
          src="{{url_for('static', filename='img/Pernis - GREEN.png')}}"
          alt="asd"
          width="100px"
          height="100px"
        />
      </div>
    </div>
  </div>
</div>
