   <div class="Home">
      <div class="container">
        <div class="HomeInner">
          <div class="InputWrapper">
            <input type="checkbox" name="age" value="Age" />
            <p>Age</p>
          </div>
          <div class="InputWrapper">
            <input type="checkbox" name="gender" value="Gender" />
            <p>Gender</p>
          </div>
          <div class="Formulier">
              <a href="/form" style="padding: 15px" >Form</a>
              <a href="/" style="padding: 15px" >Map</a>
          </div>
        </div>
      </div>
    </div>
