 <div class="Map">
  <div class="container">
    <div class="MapInner">
      <table style="width:100%; margin: 50px 0;">
            <tr>
              <th>Area</th>
              <th>Number of children</th>
              <th>Intermediaries</th>
              <th>Ratio</th>
            </tr>
            {% for d in controller.GetMapItems() %}
            <tr>
              <td>{{ d.deelgemeente.areaName}}</td>
              <td>{{d.deelgemeente.applicants}}</td>
              <td>{{d.deelgemeente.intermediary}}</td>
              {% if d.deelgemeente.intermediary > 0 %}
              <td>{{ '%0.2f'| format(d.deelgemeente.applicants / d.deelgemeente.intermediary)}}</td>
              {% else %}
              <td>NaN</td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
</div>
</div>
</div>